@charset "utf-8";
/* CSS Document */
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.menuList, .menuList-drink{
	margin-bottom: 15px;
}
.menuList ul, .menuList-drink ul{
	margin: 0;
	padding: 0;
}
.menuList ul li, .menuList-drink ul li{

	float: left;
	list-style-type: none;
	margin-top: 16px;
}
.menuList ul li a, .menuList-drink ul li a{

	color: black;
	padding: 25px;
	font-size: 20px;
	border-bottom: 1px solid rgb(224, 224, 209);
	font-family: khmer pen eng;
}
.menuList ul li a:hover, .menuList-drink ul li a:hover{
	color: rgb(255, 153, 0);
	border-bottom-color: rgb(255, 102, 217);
}
.menuList .active a, .menuList-drink .active a{
	color: rgb(255, 153, 0);
	border-bottom-color: rgb(102, 0, 0);
}
.card-body{
	padding: 5px;
}
.card-text-title{
	color: black;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}
.card-text{
	text-align: center;
}
.reserve-border{
	border: 2px solid rgb(184, 184, 148);
	position: relative;
	cursor: pointer;
	opacity: 0.5;
	color:	rgb(184, 184, 148);
}
.slider-home .reserve-border{
	padding: 20px;
	height: 20px;
}
.user .active{
	opacity: 1;
	border-color: rgb(255, 102, 217);
	color: rgb(255, 102, 217);
}

.user .active-Book{
	opacity: 1;
	border-color: rgb(186, 155, 0);
	color: rgb(186, 155, 0);
}
.user .active-Using{
	opacity: 1;
	border-color: rgb(253, 0, 0);
	color: rgb(253, 0, 0);
}
.reserve-border .reserve-table{

	font-weight: 1000;
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.reserve-border:hover{
	opacity: 1;
	border-color: rgb(255, 102, 217);
	color: rgb(255, 102, 217);
}
#pageList .card,#pageList-drink .card{
	cursor: pointer;
}
.add-product{
	height: 50px;
}
.select_order_panel{
	height: calc(90vh);
	min-height: 100%;
	/* position: relative;
	float: right;
	overflow: auto;
	width: calc(100%);
	min-height: 100%;
	-webkit-transform: translate3d(0px, 0, 0);
	-moz-transform: translate3d(0px, 0, 0);
	-o-transform: translate3d(0px, 0, 0);
	-ms-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
	-webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	-moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	-o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	-ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1); */
}
.order_panel{
	height: calc(90vh);
}
.btn-slider{
	position:absolute;
	left:230px;
	top:5px;
}
.full-background{
	position: absolute;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}
/* Important part */
.modal{
    overflow-y: initial !important
}
.modal{
    /*height: 75vh;*/
    overflow-y: auto;
}

